.navbar-brand {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-dark {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
}
