<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- در صورت نیاز می‌توانید سورس‌های دیگر اضافه کنید -->
    <!-- <add key="MyPrivateSource" value="https://my-private-nuget-server/nuget" /> -->
  </packageSources>

  <packageSourceCredentials>
    <!-- برای سورس‌های خصوصی که نیاز به احراز هویت دارند -->
  </packageSourceCredentials>

  <config>
    <add key="globalPackagesFolder" value="packages" />
  </config>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>

  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>

